*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 2%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    width: 17px;
    height: 34px;
    cursor: pointer;
    background-size: 17px 34px;
}
@keyframes footbutton {
    0%{
        bottom: 2%;
        opacity: 1;
    }
    100%{
        bottom: 5%;
        opacity: 0;
    }
}
/*音乐部分*/
#mp3btn{
    position: absolute;
    top:5%;
    right:5%;
    text-align: center;
    background: rgba(64, 53, 53, 0.21);
    z-index: 100;
    margin:-25px -6px;
    border-radius: 50%;
    width:30px;
    height: 30px;
    border:5px rgba(175,175,175,0.3) solid;
    animation: mp3key 2s linear infinite;
}
#mp3btn img{
    width: 14px;
}
@keyframes mp3key {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}


/* .s1*/
.s1,.s5{
    background: url("../img/bg1.png");
    background-size: cover;
    position: absolute;
}
.s1 #one{
    padding-top: 25%;

}
.s1 #one p{
    color: #e7aed0;
    font-size: 24px;
    font-style: italic;
    float: left;
    margin-left: 30%;

}
.s1 #one img{
    width: 28%;
    height:28%;
    float: left;
    margin-top: 10px;

}
.s1 #two{

}
.s1 #two img{
    width: 28%;
    height:28%;
    float: left;
    margin-left: 10%;
    margin-top: 10px;

}
.s1 #two p{
    font-size: 24px;
    font-style: italic;
    float: left;
    color: #88b6e5;

}
.s1 .main{
    padding-top: 25%;
}
.s1 .main #head3 img{
    width: 70%;
    height: 70%;
}

.s1 .main #head4 img{
    position: absolute;
    z-index:4;
    top:54%;
    left:41%;
    width:18%;
    height:10%;
}
.s1 .main p:nth-of-type(1){
    position: absolute;
    top:36%;
    left:34%;
    color: #fff;

}
.s1 .main p:nth-of-type(2){
    position: absolute;
    top:32%;
    left:39%;
    color: #fff;
    font-weight: bold;
}
.s1 .main p:nth-of-type(3){
    color: #fff;
    font-weight: bold;
    position: absolute;
    top:40%;
    font-size: 26px;
    left:35%;
    z-index: 6;
}
.s1 .main p:nth-of-type(4){
    border: 3px solid #a0c5ea;
    padding:5px;
    color: #a0c5ea;
    width:40%;
    height:8%;
    margin-left: 30%;
}
.s1 .main p:nth-of-type(5){
    color: #8f8f8f;
    font-size: 14px;
    padding-top: 20%;
}
/*第二部分*/
.s2,.s3{
    background: url("../img/bg2.png");
    background-size: cover;
    position: absolute;
}
.s2 #one{
    padding-top: 25%;

}
.s2 #one p {
    color: #e7aed0;
    font-size: 24px;
    font-style: italic;
    float: left;
    margin-left: 20%;
}
.s2 #one img{
    width: 28%;
    height:28%;
    float: left;
    margin-top: 10px;
}
.s2 #two{

}
.s2 #two img{
    width: 28%;
    height:28%;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
}
.s2 #two p{
    font-size: 24px;
    font-style: italic;
    float: left;
    color: #88b6e5;
}
.s2 .main{
    display: block;
    border: 3px solid #e69dc6;
    width: 80%;
    height: 70%;
    margin-left: 12%;
    margin-top: 30%;
    padding: 15% 8%;
    margin-bottom: 20%;
}
.s2 .main p{
    color: #a0c5ea;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: left;
}
.s2 .main p:nth-of-type(1){
}
.s2 .main p:nth-of-type(2){

}
/*第三部分*/
.s3 #one{
    padding-top: 25%;

}
.s3 #one p{
    color: #e7aed0;
    font-size: 24px;
    font-style: italic;
    float: left;
    margin-left: 20%;
}
.s3 #one img{
    width: 28%;
    height:28%;
    float: left;
    margin-top: 10px;
}
.s3 #two{

}
.s3 #two img{
    width: 28%;
    height:28%;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
}
.s3 #two p{
    font-size: 24px;
    font-style: italic;
    float: left;
    color: #88b6e5;

}
.s3 .main{
    display: block;
    border: 3px solid #e69dc6;
    width: 80%;
    height: 70%;
    margin-left: 12%;
    margin-top: 22%;
    padding: 3% 8%;
    margin-bottom: 20%;
}
.s3 .main p{
    color: #a0c5ea;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: left;
}
.s3 .main p:nth-of-type(1){
}
.s3 .main p:nth-of-type(2){

}


/*第四部分*/
.s4,.s5 {
    background: url("../img/bg4.png");
    background-size: cover;
    position: absolute;
}
.s4 #one{
    padding-top: 25%;

}
.s4 #one p{
    color: #e7aed0;
    font-size: 24px;
    font-style: italic;
    float: left;
    margin-left: 9%;
}
.s4 #one img{
    width: 28%;
    height:28%;
    float: left;
    margin-top: 10px;
}
.s4 #two{

}
.s4 #two img{
    width: 28%;
    height:28%;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
}
.s4 #two p{
    font-size: 24px;
    font-style: italic;
    float: left;
    color: #88b6e5;

}
.s4 .main{
    margin-top: 25%;
    margin-left: 2%;
    padding-bottom: 30%;
}
.s4 .main table{
    color: #8f8f8f;
    text-align: left;
    padding: 10%;
}
/*第五部分*/
.s5 #one{
    padding-top: 25%;

}
.s5 #one p{
    color: #e7aed0;
    font-size: 24px;
    font-style: italic;
    float: left;
    margin-left: 9%;
}
.s5 #one img{
    width: 28%;
    height:28%;
    float: left;
    margin-top: 10px;
}
.s5 #two img{
    width: 28%;
    height:28%;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
}
.s5 #two p{
    font-size: 24px;
    font-style: italic;
    float: left;
    color: #88b6e5;

}